# Compiled source
sphere
porosity
porousflow
forcechains
*.o

# Temporary editor files
*.swp
*.swo

# Python files
*.pyc

# Cmake files
Makefile
*.cmake
*.o.depend
*.o.cmake

# Documentation temporary files
*.ist
*.aux
*.idx
*.ilg
*.ind
*.tex
*.out
*.log
*.toc
*.sty
*.cls
*.png
*.txt
*.js
*.html
*.inv
*.css

# Rights prohibit inclusion of NVIDIA header file
helper_math.h

# Sphere IO
*.bin
*.dat

# Folders
CMakeFiles
doc/doctrees
doc/doxygen/man
doc/doxygen/xml
doc/html
src/CMakeFiles
src/forcechains.dir
src/porosity.dir
src/porousflow.dir
src/sphere.dir
tests/CMakeFiles
